#settingsMenu div{
    display:block;
    float:none!important;
}

#settingsMenu:hover .settingsMenuContainer ul{
    display:block;
}

#settingsMenu .settingsMenuContainer ul{
    display:none;
    background: none repeat scroll 0 0 #494949;
    padding: 10px ;
    position:absolute;
    margin: 0px 0 0 -10px;
}

#settingsMenu .settingsMenuContainer ul li{
    text-align:left;
}

.dialog h1 {
    bottom: 3px;
    color: #B2B2B2;
    font-size: 16px;
    height: 45px;
    width: 100%;
    margin: 0px;
    float: left;
    text-align: left;
    padding: 0px 0px 6px 0px;
    font-size: 22px;
}

.dialog > form > input {
    margin: 0 0 0 15px;
}

#userPreferencesDialog{
    width: 430px;
}

#userPreferencesDialog h1 span {
    display: block;
    font-size: 11px;
    
}

#userPreferencesDialog dl dt {
    color: #B2B2B2;
    float: left;
    height: 18px;
    margin-right: 10px;
    padding-top: 4px;
    text-align: right;
    width: 133px;
    clear:both;
}
#userPreferencesDialog dl dt a {
    color: #B2B2B2
}
#userPreferencesDialog dl dd {
    margin-bottom:5px;
}

#userPreferencesDialog dl dd input {
    width: 230px;
}

#sumbitCancelButtons { 
    float: right;
    margin-right: 25px;
}