<div class="bubble" id="uploadFile" data-type="tooltip">
    <img src="/infotour/images/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Upload a file</h2>
    Via clicking on this icon you can add files to the whiteboard. A small window will pop up, 
    where you can choose the file, which you would like to upload.<br>
    <br>
    The following file types are allowed: PDF, DOC, DOCx, XLS, PPT, PPTx, ODP, ODF.<br>
    <br>
    After the upload of the file, a small symbol will appear, which can be moved just like a note.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>