<div class="bubble" id="uploadVideo" data-type="tooltip">
    <img src="/infotour/images/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Add a video</h2>
    To add a video to the whiteboard open one of the supported plattform websites
    (<a href="http://www.youtube.com" target="_blank">YouTube</a> or <a href="http://www.vimeo.com" target="_blank">Vimeo</a>)
    an copy the URL into the input field.
    <br>
    <img src="/video/images/infotour.jpg" alt="add video to whiteboard" class="infoimage">
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>