<div class="changePasswordDialog">
    <h1>Change Password</h1>
    <form method="post" action="">
        <dl>
            <dt>Old Password:</dt>
            <dd> 
                <input type="password" name="oldpw" id="oldpw"> 
                <% if(errors && errors.oldpw){ %>
                    <div class="exclamation">
                        <img src="/images/exclamation_mark.png">
                        <div class="errors"><%= errors.oldpw%></div>
                    </div>
                <% } %>
            </dt>
        </dl>
        <dl>
            <dt>New Password:</dt>
            <dd> 
                <input type="password" name="newpw" id="newpw"> 
                <% if(errors && errors.newpw){ %>
                    <div class="exclamation">
                        <img src="/images/exclamation_mark.png">
                        <div class="errors"><%= errors.newpw%></div>
                    </div>
                <% } %>
            </dt>
        </dl>
        <dl>
            <dt>Confirm:</dt>
            <dd> 
                <input type="password" name="confirmpw" id="confirmpw">
                <% if(errors && errors.confirmpw){ %>
                    <div class="exclamation">
                        <img src="/images/exclamation_mark.png">
                        <div class="errors"><%= errors.confirmpw%></div>
                    </div>
                <% } %>
            </dd>
        </dl>
        <input type="submit" value="Submit">
        <button type="button" class="cancel">Cancel</button>
     </div>
   
</form>
