<h1>
    Change your settings
    <span>Fields with * are required.</span>
</h1>

<form method="post" action="">
    <dl>
        <dt>Firstname:*</dt>
        <dd> 
            <input  id="firstNameField" type="text" value="<%=user.get('firstname')%>">
        </dd>

        <dt>Lastname:*</dt>
        <dd>
             <input id="lastNameField" type="text" value="<%=user.get('lastname')%>">
        </dd>

        <dt>Email Address:*</dt>
        <dd> 
             <input id="emailField" type="email" value="<%=user.get('email')%>">
        </dd>

        <dt>Position:</dt>
        <dd>
             <input id="positionField" type="text" value="<%=user.get('position')%>">
        </dd>
    </dl>

   <div id="sumbitCancelButtons">
        <input type="submit" value="Submit">
        <button type="button" class="cancel">Cancel</button>
   </div>
          
</form>