<div id="colorChooserContainer"> 
    <a href="close" class="close">close</a>
    <a href="accept" class="accept">accept</a>
    <img src="/images/arrow-color-chooser.png" alt="" class="arrow">
    <img src="/images/colorchooser/range.jpg" alt="choose a color" title="choose a color">
    <div> 
        <div style="background:<%=color %>">&nbsp;</div>
        <span>R:</span><input name="color_r" class="rgb" value="<%=r %>" disabled="disabled">
        <span>G:</span><input name="color_g" class="rgb" value="<%=g %>" disabled="disabled">
        <span>B:</span><input name="color_b" class="rgb" value="<%=b %>" disabled="disabled">
        <span class="hex">#hex:</span><input class="hex" name="color_hex" value="<%=hex %>" disabled="disabled" />
    </div>
</div>