<div class="bubble" id="inviteUser" data-type="tooltip">
    <img src="/infotour/images/top.png" class="top" style="left:60px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Invite a user to a whiteboard</h2>
    For working collaboratively with others, just invite a user. The only thing you need is the email address of the user.<br>
    <br>
    If the person is already registered, the user can see the whiteboard in his personal overview. Otherwise the system will 
    register and notify the user via email.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>