
nav.rightNavigation {
    width: 200px;
    position: absolute;
    right: -200px;
    top: 25px;
    height: auto !important;
    min-height: 100%;
    border-left: 1px solid #3E3E3E;
    color: #FFFFFF;
    z-index:9;
}

nav.rightNavigation .wrapper{
    background: #626262;
    width: 186px;
    height: auto !important;
    min-height: 100%;
    position:absolute;
    padding: 10px 7px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity =     65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    -o-opacity: 0.65;
}


nav.rightNavigation div h2 {
    float: left;
    font-weight: normal;
    margin: 0;
    font-size: 16px;
    width: 100%;
}


nav.rightNavigation .creator {
    font-size: 10px;
}
nav.rightNavigation textarea.description {
    background: #B2B2B2;
    height: 153px;
    width:165px;
    border: 1px solid #000000;
    padding:10px;
}
nav.rightNavigation a.slideLeftButton {
    left: -19px;
    position: absolute;
    top: 25px;
    cursor:pointer;
}