#bottomNavigation {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index:13;
    background: #494949;
}
#bottomNavigation ul {
    float: left;
}

#bottomNavigation ul:last-Child {
    padding: 0 20px 0 0;
    float: right;
}

#bottomNavigation ul li {
    padding: 0 10px 0 0;
    float: left;
}

#bottomNavigation ul li a {
    text-decoration: none;
    position: relative;
    bottom: 25px;
}
#bottomNavigation ul li a:hover {
    bottom:30px;
}
#bottomNavigation ul li a span {
    display: none;
    color: #C2C2C2;
    position:relative;
    bottom:4px;
    font-size:11px;
    text-align:center;
}
#bottomNavigation ul li a:hover span {
    display:block;
}
#bottomNavigation > ul:first-Child {
    height:25px;
}
#bottomNavigation > ul:first-child > li:first-child {
    margin: 0 10px 0 0;
    padding: 4px 10px 0 4px;
    background:url('/toolbar/images/background.gif') repeat-x;
    color:#c2c2c2;
    text-shadow: 1px 1px 1px #000000;
}
#bottomNavigation > ul:first-child > li:first-child > img {
    padding:0 5px 0 0;
}
#bottomNavigation > ul:first-child > li:first-child > img:last-child {
    padding: 0 0 0 5px;
    position: absolute;
    top: 0;
}
