<div class="bubble" id="createNote" data-type="tooltip">
    <img src="/infotour/images/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Create a note</h2>
    Create a note on the Whiteboard and add textual information. You can add some text, later edit it, move the note or delete it.<br>
    <br>
    Every note can be edited by everyone else, who is assigned to the whiteboard. The only exception is, while somebody is editing a note, 
    nobody else can edit it.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>