<h1 class="logo">
    <a href="main">
        <% if(title) { %>
            <span class="logo-title"><%=title %></span>
        <% } %>
        <span><b>lao (v<%=versionNumber%><%=versionType%>)</b></span>
    </a>
</h1>
<div class="right">
    <% if(!user.isNew()) { %>
        <div>
            <% if(view === "whiteboard") { %>
            <a href="invite">Invite a person</a>
            <a href="main">Back to Main Panel</a>
            <% } %>
            <a href="logout">Log out</a>
        </div>
        
        <div>
            <%=user.get("email")%>
        </div>
        <% if(view === "whiteboard") { %>
                <div class="assigned-user-color-container">
                    <div class="assigned-user-color" style="width:15px;height:15px; background:<%=color%>;"></div>
                </div>
        <% } %>
    <% } %>
</div>
