<h1 class="logo">
    <a href="main">
        <% if(title) { %>
            <span class="logo-title"><%=title %></span>
        <% } %>
        <span><b>lao (V 0.1a)</b></span>
    </a>
</h1>
<div class="right">
    <% if(!user.isNew()) { %>
        <div>
            <% if(view === "whiteboard") { %>
            <a href="invite">Invite a person</a>
            <a href="main">Back to Main Panel</a>
            <% } %>
            <a href="logout">Log out</a>
        </div>
        
        <div>
            <b>User:</b><%=user.get("email")%>
        </div>
    <% } %>
</div>
