<div class="lightbox" data-type="tooltip">
    <h1>Hello and welcome to TeaBo</h1>
    TeaBo (team board) is an online collaboration tool for the development of ideas, 
    brainstorming or just collecting information during a project. All this can be done interactive and 
    in real-time with colleagues or friends.<br>
    <br>
    You have a multitude of possibilities to present your information. For example place notes, upload files or 
    add pictures to the whiteboard. It is your interactive platform for working collaboratively with 
    a chosen group of colleagues or friends. <br>
    <br>
    Take the interactive tour, where you will see all the important features and get a quick overview of the whiteboard.<br>
    <br>
    Enjoy using this tool!<br>
    <br>
    <input type="button" class="closeToolTip" value="Close window">
    <input type="button" class="nextToolTip" value="Start tour">
    
    <div class="showAgain">
        <input type="checkbox" name="showAgain" id="showAgain" value="1"> Don't show this again!
    </div>
</div>