<div class="loginContainer">
    <h1>
        Welcome to [lao]
        <span>Please Login</span>
    </h1>
    <form name="login" method="POST">
        <dl>
            <dt>Email:</dt>
            <dd>
                <input type="text" name="email" class="email" />
            </dd>
            <dt>Password:</dt>
            <dd>
                <input type="password" name="password" class="password" />
            </dd>
            <dt>&nbsp;</dt>
            <dd><input type="submit" value="Login" class="button"></dd>
        </dl>

        <div class="loginOptions">
            <a href="#register">Create Account</a>
            <a href="#forgotPassword">Forgot your password?</a>
        </div>
    </form>
</div>