<div class="loginContainer">
    <h1>
        Welcome to [lao]
        <span>Please Login</span>
    </h1>
    <form name="login" method="POST">
        <dl>
            <dt>Email:</dt>
            <dd>
                <input type="text" name="email" class="email" />
            </dd>
            <dt>Password:</dt>
            <dd>
                <input type="password" name="password" class="password" />
            </dd>
            <ul class="loginOptions">
                <li><a href="#register">Create Account</a></li>
                <li><input type="submit" value="Login" class="button"></li>
                <li><a href="#forgotPassword">Forgot your password?</a></li>
            </ul>
        </dl>
        
    </form>
</div>