<h2>Hi
<% if(user.get('firstname') && user.get('lastname') && user.get('firstname') != '' && user.get('lastname') != '') { %>
    <%= user.get('firstname')+' '+user.get('lastname') %>!
<% } else { %>
    <%= user.get('email') %>!
<% } %>

<p></p>

<h3>Create Whiteboard</h3>
<form method="post">
    <span>Name: </span>
    <input name="name">
    <input type="submit" class="button" value="Submit">
</form>

<h3>Whiteboards List</h3>
<% if(_.isEmpty(ownWhiteboards)) { %>
    <p>No whiteboard yet.</p>
<% } else{%>
    <ul>
        <% _.each(ownWhiteboards, function(whiteboard){ %>
            <li id="<%= whiteboard._id %>">
                <a href="#whiteboard/<%= whiteboard._id %>"><%= whiteboard.name %></a> 
                <a href="#!/" class="delete">
                    <img src="/images/cross.png" alt="delete" title="Delete Whiteboard"/>
                </a>
            </li> 
        <% }); %>
    </ul>
<% } %>
<h3>assigned Whiteboards</h3>
<% if(_.isEmpty(assignedWhiteboards)) { %>
    <p>No whiteboard yet.</p>
<% } else{%>
    <ul>
        <% _.each(assignedWhiteboards, function(whiteboard){ %>
            <li id="<%= whiteboard._id %>">
                <a href="#whiteboard/<%= whiteboard._id %>"><%= whiteboard.name %></a> 
            </li> 
        <% }); %>
    </ul>
<% } %>
