<div id="colorChooserContainer"> 
    <div class="colorRangeContainer"><img src="resources/images/colorchooser/color_range.jpg"></div>
    <div class="colorInfoContainer"> 
        <div class="choosenColor" style="width:15px;height:15px; background:orange;"></div>
        <div class="colorHexCode">HEX:<span class="hexCode"></span></div>
    </div>
    <div class="colorChooserSaveCancel">
        <button type="button" class="save">Save</button>
        <button type="button" class="cancel">cancel</button>
    </div>
</div>