<div class="bubble" id="uploadImage" data-type="tooltip">
    <img src="/infotour/images/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Upload a image</h2>
    Via clicking on this icon you can add a image to the whiteboard. A small window will pop up, 
    where you can choose the image, which you would like to upload.<br>
    <br>
    The following image types are allowed: JPG, PNG and GIF.<br>
    <br>
    After the upload of the image, a small symbol will appear, which can be moved just like a note.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>