<div class="lightbox" data-type="tooltip">
    <h1>Hello and welcome to [lao]</h1>
    [lao] (look ahead online) is an online collaboration tool for the development of ideas, 
    brainstorming or just collecting information during a project. All this can be done interactive and 
    in real-time with colleagues or friends.<br>
    <br>
    You have a multitude of possibilities to present your information. For example place notes, upload files or 
    add pictures to the [lao]-whiteboard. The whiteboard is your interactive platform for working collaboratively with 
    a chosen group of colleagues or friends. <br>
    <br>
    Take the interactive tour, where you will see all the important features and get a quick overview of the whiteboard.<br>
    <br>
    Enjoy using this tool!<br>
    <br>
    <input type="button" class="closeToolTip" value="Close window">
    <input type="button" class="nextToolTip" value="Start tour">
    
    <div class="showAgain">
        <input type="checkbox" name="showAgain" id="showAgain" value="1"> Don't show this again!
    </div>
</div>
<div class="bubble" id="createNote" data-type="tooltip">
    <img src="resources/images/tooltips/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Create a note</h2>
    Create a note on the Whiteboard and add textual information. You can add some text, later edit it, move the note or delete it.<br>
    <br>
    Every note can be edited by everyone else, who is assigned to the whiteboard. The only exception is, while somebody is editing a note, 
    nobody else can edit it.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="bubble" id="uploadFile" data-type="tooltip">
    <img src="resources/images/tooltips/bottom.png" class="bottom" style="left:5px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Upload a file</h2>
    Via clicking on this icon you can add files to the whiteboard. A small window will pop up, 
    where you can choose the file, which you would like to upload.<br>
    <br>
    The following file types are allowed: PDF, DOC, DOCx, XLS, PPT, PPTx, ODP, ODF.<br>
    <br>
    After the upload of the file, a small symbol will appear, which can be moved just like a note.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="bubble" id="inviteUser" data-type="tooltip">
    <img src="resources/images/tooltips/top.png" class="top" style="right:120px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Invite a user to a whiteboard</h2>
    For working collaboratively with others, just invite a user. The only thing you need is the email address of the user.<br>
    <br>
    If the person is already registered, the user can see the whiteboard in his personal overview. Otherwise the system will 
    register and notify the user via email.<br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="bubble" id="dragAndDrop" data-type="tooltip">
    <button class="closeToolTip">X</button>
    <h2>Move Whiteboard and Notes</h2>
    You can move your notes and your whiteboard via drag and drop. This allows you to order your notes as you want. You're able
    to move the whiteboard and every note!<br>
    <br>
    <img src="resources/images/tooltips/moveNotes.png" class="top" style="right:120px" alt="">
    <br>
    To move the whiteboard, just click on it and move it to your desire position. For notes you'll find a handler to move each
    one.<br>
    <br>
    If you want to get rit of the note, click on the 'x' sign!<br>
    <br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="lightbox" data-type="tooltip">
    <h1>End of the tour!</h1>
    Enjoy your whiteboard!<br>
    <br>
    <input type="button" class="closeToolTip" value="Close window">
</div>