.whiteboard > .video > .content{
    float: left;
}

.video .whiteboardItemMenu {
    padding: 0px;
}

#tooltips #uploadVideo {
    bottom: 105px;
    left: 235px;
    width:400px;
}
#tooltips #uploadVideo img.infoimage {
	margin:20px 0;
}
#tooltips #uploadVideo a {
	color:#ffffff;
}