html {
    overflow: hidden;
}
body {
    background: url("/whiteboard/images/background.gif") repeat;
}

#page > div {
    z-index: 3;
    padding: 0 0 15px 7px;
}

.registrationSuccess {
    background:#494949;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    -webkit-box-shadow: 0px 0px 5px #AAAAAA;
    -moz-box-shadow: 0px 0px 5px #AAAAAA;
    -o-box-shadow: 0px 0px 5px #AAAAAA;
    box-shadow: 0 0 5px #AAAAAA;
    margin: -30px 0 0 -225px;
}
.registrationSuccess h2{
    color: #FFFFFF;
    text-align: center;
}
.registrationSuccess h2 a {
    color: #4B99CE;
}
.exclamation {
    display:inline!important;
    position: relative;
    margin-right: -21px;
}

.errors {
    position: absolute;
    top: 25px;
    left: 30px;
    background: white;
    border: 3px solid #cc3300;
    width: 170px;
    padding: 7px 0 7px 0;
    color: black;
    text-align: center;
    display:none;
    font-size: 13px;
}

div.registerContainer > form > dl > dd > input {
    width:185px;
    border: 1px solid #000000;
    height: 20px;
}
div.registerContainer > form > dl > dd > input.error {
    border-color:#ff0000;
    background:#FFD8D8;
}
div.loginContainer > form > dl > dd > input {
    width:210px;
}
div.loginContainer > form > dl > dd > input[type="text"], 
div.loginContainer > form > dl > dd > input[type="password"] {
    border: 1px solid #000000;
    height:20px;
}

.wrongfield{
    border-color:#cc3300;   
}
#invite-dialog div.buttonline{
    text-align: center;
}

.inviteUser  {
    float: right;
}
.draggable {
    position: absolute;
}

#notice {
  position: fixed;
  z-index: -2000;
  top: 25px;
  width: 100%;
  background: #ffffcc;
  color: #767979;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 0 8px 0;
}

#error{
    position: fixed;
    z-index: -2000;
    top: 25px;
    width: 100%;
    background: #990000;
    color: #fff;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 0 8px 0;
}