<div class="bubble" id="dragAndDrop" data-type="tooltip">
    <button class="closeToolTip">X</button>
    <h2>Move Whiteboard and Notes</h2>
    You can move your notes and your whiteboard via drag and drop. This allows you to order your notes as you want. You're able
    to move the whiteboard and every note!<br>
    <br>
    <img src="/infotour/images/moveNotes.png" class="top" style="right:120px" alt="">
    <br>
    To move the whiteboard, just click on it and move it to your desire position. For notes you'll find a handler to move each
    one.<br>
    <br>
    If you want to get rit of the note, click on the 'x' sign!<br>
    <br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="bubble" id="selectItems" data-type="tooltip">
    <button class="closeToolTip">X</button>
    <h2>Selecting Whiteboard Items</h2>
    To move more than one item on the whiteboard, you can select some, like on your desktop, and move them together. If you 
    press <i>ctrl</i> you can add more items to your selection.<br>
    <br>
    <img src="/infotour/images/selectItems.jpg" alt="select whiteboard items"><br>
    <br>
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>
<div class="bubble" id="deleteWhiteboardItems" data-type="tooltip">
    <img src="/infotour/images/delete.png"  style="left:10px" alt="">
    <button class="closeToolTip">X</button>
    <h2>Delete object(s) on the Whiteboard</h2>
    You can delete one or multiple objects from the whiteboard either using [DEL] or via the menu.
    To Delete a single object just click on the [X] at the menu next to it. To remove multiple objects or remove one (or more) objects with [DEL]] you have to select them first.
    <br>
    You will be prompted to confirm the delete, in this prompt you may choose if you would like to be asked again when deleting one or multiple objects.
    <br>
    <input type="button" class="prevToolTip" value="Back">
    <input type="button" class="nextToolTip" value="Next">
</div>