#bottomNavigation {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index:13;
    background: #494949;
}
#bottomNavigation ul {
    padding: 0 0 0 20px;
    float: left;
}

#bottomNavigation ul:last-Child {
    padding: 0 20px 0 0;
    float: right;
}

#bottomNavigation ul li {
    padding: 0 10px 0 0;
    float: left;
}

#bottomNavigation ul li a {
    text-decoration: none;
    position: relative;
    bottom: 25px;
}

#bottomNavigation ul li a span {
    display: none;
    color: #C2C2C2;
}