html {
    overflow: hidden;
}

#notice {
  position: fixed;
  z-index: -2000;
  top: 25px;
  width: 100%;
  background: #ffffcc;
  color: #767979;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 0 8px 0;
}

.registrationSuccess {
    background:#494949;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    -webkit-box-shadow: 0px 0px 5px #AAAAAA;
    -moz-box-shadow: 0px 0px 5px #AAAAAA;
    -o-box-shadow: 0px 0px 5px #AAAAAA;
    box-shadow: 0 0 5px #AAAAAA;
    margin: -30px 0 0 -225px;
}
.registrationSuccess h2{
    color: #FFFFFF;
    text-align: center;
}
.registrationSuccess h2 a {
    color: #4B99CE;
}
.exclamation {
    display:inline!important;
    position: relative;
}

.errors {
    position: absolute;
    top: 25px;
    left: 30px;
    background: white;
    border: 3px solid #cc3300;
    width: 170px;
    padding: 7px 0 7px 0;
    color: black;
    text-align: center;
    display:none;
}

.wrongfield{
    border-color:#cc3300;   
}
#invite-dialog div.buttonline{
    text-align: center;
}

.inviteUser  {
    float: right;
}
.draggable {
    position: absolute;
}

#error{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 50px;
    margin: -25px 0 0 -100px;
}