<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="de.bht.swp.lao.ocp" />
	
	<bean id="whiteboardCreateValidator" class="de.bht.swp.lao.ocp.whiteboard.WhiteboardCreateValidator"/>
	<bean id="userLoginValidator" class="de.bht.swp.lao.ocp.user.UserLoginValidator" />
	<bean id="userRegisterValidator" class="de.bht.swp.lao.ocp.user.UserRegisterValidator" />
	  <!--
	<bean id="registerUser" class="de.bht.swp.lao.ocp.user.UserController"></bean>
	<bean id="loginFormData" class="de.bht.swp.lao.ocp.user.UserController"></bean>
	-->
	
</beans>
