.whiteboardInviteUser {
    left: 145px;
    position: absolute;
    top: 15px;
}

.mainPanel {
    background: none repeat scroll 0 0 #494949;
    color: #B2B2B2;
    position: absolute;
    top: 100px;
    width: 220px;
    margin: 0 0 0 25px;
    padding: 0 0 0 10px;
}

.mainPanel ul a {
    color: #B2B2B2;
}

.mainPanel ul a.delete{
    margin: 0 0 0 10px;
}
#whiteboard{
    background: url('/whiteboard/images/background.gif');
    position:relative;
    left:0px;
    top:0px;
    width:100000px;
    height:100000px;
}

.whiteboard {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#selectionBox {
    position:absolute;
    z-index: 10000;
    border:1px dashed #70ADC9;
    background: rgba(112, 173, 201,0.3);
}
