#attachmentUploadContainer,#uploadContainer{
    width:430px;
    height:200px;
}



#attachmentUploadContainer form{
    padding: 3px 0 0 0;
}

#attachmentUploadContainer form div,#uploadContainer form div{
    text-align: right;
    padding: 18px 0 0 0;
    float: right;
    padding: 0;
    margin: 18px 0 0
}

#attachmentUploadContainer form span{
    width:60px;
    text-align: left;
}


#attachmentUploadContainer h1 {
    bottom: 3px;
    color: #B2B2B2;
    float: left;
    font-size: 22px;
    height: 45px;
    text-align: left;
    width: 100%;
    margin-bottom:5px;
}

#attachmentUploadContainer h1 span {
  font-size: 11px;
  float: left;
}


#attachmentUploadContainer dl dt {
    clear: both;
    color: #B2B2B2;
    float: left;
    height: 18px;
    margin-right: 10px;
    padding-top: 4px;
    text-align: right;
    width: 95px;
}

#attachmentUploadContainer dl dd {
    float: left;
    margin-bottom:6px;
    margin: 5px 0 0 0;
}

#attachmentUploadContainer dl  {
    margin-bottom:5px;
}

#attachmentUploadContainer dl dd textarea {
   width:317px;
}

.whiteboard .imageItems.content{
    float:left;
}

.imageMenu{
    float:left;
    width:13px;
    display:none;
    padding: 12px 0 0;
    font-size:0px; /* to avoid whitespace underneath each picture*/
}

.whiteboard .image.hoverable:hover .imageMenu {
    display:block;
}


