<h1 class="logo">
    <a href="main">
        <% if(title) { %>
            <span class="logo-title"><%=title %></span>
        <% } %>
        <span><b>lao (v<%=versionNumber%><%=versionType%>)</b></span>
    </a>
</h1>
<div class="left">
    <% if(view === "whiteboard") { %>
    <div class="invite">
        <a href="invite"><img src="/images/user.gif">Whiteboard users</a>
        <div>
	        <div id="whiteboard-users-container"></div>
	        <form id="invite" action="/inviteUser" method="post">
                <input class="mailaddress" type="text" name="address" placeholder="type email and press enter">
            </form>
        </div>
    </div>
    <% } %>
</div>
<div class="right">
    <% if(Object.keys(window.app.user.attributes).length) { %>
        <div>
            <% if(view === "whiteboard") { %>
            <a href="main"><img src="/images/back_to_mainpanel.gif">Back to Main Panel</a>
            <% } %>
            <a href="logout"><img src="/images/log_out.gif">Log out</a>
        </div>
    <% } %>
</div>
