<ul>
    <li><img src="/images/toolbox.gif" alt="">Toolbox<img src="/images/toolbox_transition.gif" alt=""></li>
    <li><div><a href="#" class="createNote"><img src="/images/new_note.png" alt="create new note" title="create new note" /><span>Note</span></a></div></li>
    <li><div><a href="#" class="uploadFile"><img src="/images/new_file.png" alt="upload file" title="upload file" /><span>File</span></a></div></li>
</ul>
<ul>
    <li><div><a href="showToolTips"><img src="/images/showTooltips.png" alt="show tooltips" /><span>Tooltip</span></a></div></li>
</ul>
