/* 
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section
    {
    display: block;
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls]){
    display:none;
}
[hidden] {
    display: none;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
    font-size: 13px;
    line-height: 1.231;
}

body,button,input,select,textarea {
    font-family: sans-serif;
    color: #222;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fe57a1;
    color: #fff;
    text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
a {
    color: #00e;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #06e;
}

a:focus {
    outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,a:active {
    outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
    border-bottom: 1px dotted;
}

b,strong {
    font-weight: bold;
}

blockquote {
    margin: 1em 40px;
}

dfn {
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
pre,code,kbd,samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

q {
    quotes: none;
}

q:before,q:after {
    content: "";
    content: none;
}

small {
    font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
ul,ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}

dd {
    margin: 0 0 0 40px;
}

nav ul,nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root){
    overflow:hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
figure {
    margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
    margin: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
    cursor: pointer;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
    border: 0;
    *margin-left: -7px;
    padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button,input,select,textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button,input {
    line-height: normal;
    *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button,table input {
    *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button,input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

input:invalid,textarea:invalid {
    background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
html {
    overflow: hidden;
}

body {
    background: url('../images/whiteboard-background.gif');
}

nav.rightNavigation {
    width: 300px;
    position: absolute;
    right: -260px;
    top: 100px;
}

nav.rightNavigation ul {
    width: 40px;
    float: left;
    padding: 10px 0 0 0;
    background: url('../images/t65.png');
    border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
}

nav.rightNavigation ul li {
    padding: 0 0 10px 8px;
}

nav.rightNavigation ul li a {
    display: block;
    width: 25px;
}

nav.rightNavigation ul li a img {
    width: 25px;
}

nav.rightNavigation div {
    color: #FFFFFF;
    float: left;
    overflow: hidden;
    background: url('../images/t65.png');
    border-left: 1px solid #999999;
    width: 239px;
    min-height: 95px;
    padding: 10px;
}

nav.topNavigation h1.logo {
    width:126px;
    height:65px;
    position: absolute;
    left: 4px;
    top: 3px;
    margin: 0px;
    font-size:12px;
    font-weight:normal;
    -webkit-box-shadow: 0px 0px 5px #000000;
    -moz-box-shadow: 0px 0px 5px #000000;
    -box-shadow: 0px 0px 5px #000000;
    z-index: 100000;
}
nav.topNavigation h1 a {
    width:126px;
    height:65px;
    display:block;
    color:#000000;
    text-decoration:none;
    padding: 25px 3px 10px;
    background: url('../images/lao_logo.jpg') no-repeat;
    
}

nav.topNavigation div.right {
    color: #FFFFFF;
    float: right;
    padding: 5px 0 0 0;
    width:900px;
    text-align:right;
}
nav.topNavigation div.right div {
    float:right;
    border-left:1px solid #c2c2c2;
    padding:0 10px;
}
nav.topNavigation div.right div a {
    text-decoration:none;
    color:#c2c2c2;
    padding: 0 10px 0 0;
}
nav.topNavigation div.right div:last-Child {
    border-left:0px;
}
nav.topNavigation div.right b {
    margin-right:5px;
}

nav.rightNavigation div div {
    display: none;
    border-left: 0px;
    background: 0px;
    float: none;
    overflow: auto;
    top: 0px;
    right: 0px;
    display: none;
    padding: 0px;
    width: 239px;
    min-height: 95px;
}

nav.rightNavigation div div.login {
    display: block;
}

nav.rightNavigation div div input {
    color: #555555;
    height: 15px;
    margin: 0 0 10px;
    width: 230px;
}

nav.rightNavigation div div input:last-child {
    float: right;
    height: 25px;
    width: 80px;
    margin: 0px;
    color: #000000;
}

nav.rightNavigation a.logout {
    color: #91D1FF;
    display: block;
    float: left;
    margin: 0 0 0 15px;
}

nav.rightNavigation div h2 {
    float: left;
    font-weight: normal;
    margin: 0;
    font-size: 16px;
}

nav.rightNavigation div h2 span {
    font-weight: bold;
    display: inline;
}

nav.rightNavigation div span {
    clear: both;
    display: block;
    padding: 10px 0 20px;
}

nav.rightNavigation div ul {
    background: none;
    border-radius: 0px;
    float: none;
    clear: both;
    padding: 10px 0;
    width: auto;
}

nav.rightNavigation div div ul {
    padding: 10px 0 20px;
}

nav.rightNavigation div ul li {
    padding: 0px;
    clear: both;
    overflow: hidden;
}

nav.rightNavigation div ul li a {
    float: left;
    width: auto;
    color: #91D1FF;
}

nav.rightNavigation div ul li a:last-child {
    color: #FF0000;
    display: block;
    margin: 0 0 0 10px;
}

nav.bottomNavigation {
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index:13;
    background: #494949;
}

nav.topNavigation {
    height: 25px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:10;
    background: #494949;
}

.whiteboardInviteUser {
    left: 145px;
    position: absolute;
    top: 15px;
}

.mainPanel {
    background: none repeat scroll 0 0 #494949;
    color: #B2B2B2;
    position: absolute;
    top: 100px;
    width: 220px;
}

.mainPanel ul a {
    color: #B2B2B2;
}

.mainPanel ul a.delete{
    margin: 0 0 0 10px;
}

.rightNavigation {
    width: 186px;
    height: auto !important;
    min-height: 100%;
    background: #626262;
    border-left: 1px solid #3E3E3E;
    color: #FFFFFF;
    padding: 10px 7px;
    position: absolute;
    right: -199px;
    top: 25px;
    z-index:9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
    filter: alpha(opacity =     65);
    -moz-opacity: 0.65;
    -khtml-opacity: 0.65;
    opacity: 0.65;
    -o-opacity: 0.65;
}

.rightNavigation h2{    
    font-size: 16px;
    font-weight: normal !important;
    margin: 0;
}
.rightNavigation a{    
    color: #FFFFFF;
}
.rightNavigation .creator {
    font-size: 10px;
}

.rightNavigation textarea.description {
    background: #B2B2B2;
    height: 153px;
    width:165px;
    border: 1px solid #000000;
    padding:10px;
}

.registrationSuccess {
    background:#494949;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 450px;
    -webkit-box-shadow: 0px 0px 5px #AAAAAA;
    -moz-box-shadow: 0px 0px 5px #AAAAAA;
    -o-box-shadow: 0px 0px 5px #AAAAAA;
    box-shadow: 0 0 5px #AAAAAA;
    margin: -30px 0 0 -225px;
}
.registrationSuccess h2{
    color: #FFFFFF;
    text-align: center;
}

.registrationSuccess h2 a {
    color: #4B99CE;
}

.registerCancelButtons a{
    text-decoration: none;
}

.exclamation {
    display:inline!important;
    position: relative;
}

.errors {
    position: absolute;
    top: 25px;
    left: 30px;
    background: white;
    border: 3px solid #cc3300;
    width: 170px;
    padding: 7px 0 7px 0;
    color: black;
    text-align: center;
    display:none;
}

.wrongfield{
    border-color:#cc3300;   
}

.hide {
    display: none;
}

.registerContainer {
    background: #494949;
    width: 434px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin:-130px 0 0 -217px;
    -webkit-box-shadow: 0px 0px 5px #AAA;
    -moz-box-shadow: 0px 0px 5px #AAA;
    -o-box-shadow: 0px 0px 5px #AAA;
    box-shadow: 0 0 5px #AAAAAA;
}
.registerContainer h1 {
    background: url("../images/lao_register.png") no-repeat scroll 0 0 transparent;
    bottom: 3px;
    color: #B2B2B2;
    font-size: 16px;
    height: 45px;
    margin: 0 0 0 7px;
    padding: 13px 0 0 135px;
    position: relative;
    width: 100%;
}

.registerContainer dl {
    margin:0px;
}
.registerContainer dl dt {
    width:191px!important;
    font-weight:normal;
}
.registerCancelButtons {
    margin: 20px 0 10px 102px;  
}

.registerContainer dl dt span {
    display: inline;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
.loginContainer {
    position: absolute;
    background: #494949;
    width: 400px;
    left: 50%;
    top: 50%;
    margin:-90px 0 0 -200px;
    -webkit-box-shadow: 0px 0px 5px #AAA;
    -moz-box-shadow: 0px 0px 5px #AAA;
    -o-box-shadow: 0px 0px 5px #AAA;
    -box-shadow: 0px 0px 5px #AAA;
}

.loginContainer h1 {
    background: url("../images/lao_login.jpg") no-repeat scroll 0 0 transparent;
    bottom: 3px;
    color: #B2B2B2;
    font-size: 16px;
    height: 45px;
    margin: 0 0 0 7px;
    padding: 13px 0 0 135px;
    position: relative;
    width: 100%;
}
.loginContainer h1 span, .registerContainer h1 span, #inviteContainer h1 span, #uploadContainer h1 span {
    display: block;
    font-size: 11px;
}
.loginContainer dl dt, .registerContainer dl dt {
    color: #B2B2B2;
    float: left;
    height: 18px;
    margin-right: 10px;
    padding-top: 4px;
    text-align: right;
    width: 133px;
    clear:both;
}
.loginContainer dl dt a, .registerContainer dl dt a {
    color: #B2B2B2
}
.loginContainer dl dd, .registerContainer dl dd {
    margin-bottom:5px;
}
.loginContainer dl input.button, .registerContainer dl input.button {
    margin:3px 0 0 0;
}
.loginContainer form span {
    color:#FF0000;
    display:block;
    margin:0 0 0 3px;
}

.rightNavigation a.slideLeftButton {
    left: -19px;
    position: absolute;
    top: 25px;
}

.error {
    color: #000000;
}

nav.bottomNavigation ul {
    padding: 0px 0 0 20px;
    float: left;
}

nav.bottomNavigation ul li {
    padding: 0 10px 0 0;
    float: left;
}

nav.bottomNavigation ul li a {
    text-decoration: none;
    position: relative;
    bottom: 25px;
}

nav.bottomNavigation ul li a img {
    
}

nav.bottomNavigation ul li a span {
    display: none;
    color: #C2C2C2;
}

#whiteboard{
    position:relative;
    left:0px;
    top:0px;
}

.whiteboard {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.whiteboard .note {
    min-width: 235px;
    position:absolute;
}

.whiteboard .note textarea {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    height: 17px;
    line-height: 17px;
    width: 199px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FDFDCC), to(#F8F7B6) );
    background: -moz-linear-gradient(100% 100% 90deg, #F8F7B6, #FDFDCC);
}

.whiteboard .note input {
    background: #FDFDCC;
    border: 0;
    font-size: 20px;
    height: 30px;
    width: 199px;
}

.note .creator {
    display: none;
    float: left;
    font-size: 10px;
    position: relative;
    top: 7px;
    padding: 0 0 4px 0;
    margin: 3px 0 2px 0;
}

.whiteboard .noteItems{
    background: none repeat scroll 0 0 #F8F7B6;
    position: absolute;
    padding: 5px;
    float: left;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 5px #AAA;
    -moz-box-shadow: 0px 0px 5px #AAA;
    -o-box-shadow: 0px 0px 5px #AAA;
    box-shadow: 0px 0px 5px #AAA;
    width:200px;
}

.noteMenu, .attachmentMenu{
    float:right;
    width:13px;
    display:none;
    padding: 9px 0 0;
    font-size:0px; /* to avoid whitespace underneath each picture*/
}


.whiteboard .attachment {
    min-width: 130px;
    position:absolute;
}

.whiteboard .attachment .attachmentItems{
    width:120px;
    float: left;
}

.whiteboard .attachment .image {
    text-align: center;
}

.whiteboard .attachment .filename {
    text-align: center;
    font-weight: bold;
}

.locked {
    position: relative;
    left: 5px;
    top:4px;
    margin: 3px 0 0;
    width: 10px;
    padding: 0 0 5px;
}

#inviteContainer, #uploadContainer {
    background: #494949;
    border: 1px solid #c2c2c2;
    color: #B2B2B2;
    width:302px;
    height:125px;
    position:absolute;
    left:50%;
    top:50%;
    z-index:100;
    margin:-62px 0 0 -151px;
    display:none;
    -webkit-box-shadow: 4px 4px 8px #222;
    -moz-box-shadow: 4px 4px 8px #222;
    -o-box-shadow: 4px 4px 8px #222;
    box-shadow: 4px 4px 8px #222;
}

#uploadContainer {
    width: 400px;
    height: 200px;
    margin:-100px 0 0 -200px;
}
#uploadContainer form {
    padding: 0 12px;
}
#uploadContainer form div {
    text-align:center;
    padding:20px 0 0 0;
}
#uploadContainer form span {
    float:left;
    display:block;
    width:75px;
}
#uploadContainer form textarea {
    width:293px;
}

#inviteContainer h1, #uploadContainer h1 {
    bottom: 3px;
    color: #B2B2B2;
    font-size: 16px;
    height: 45px;
    margin: 0 0 0 7px;
    padding: 13px 0 0 5px;
    position: relative;
    width: 100%;
}
#inviteContainer input#address {
    width:230px;
}
#inviteContainer form {
    padding:0 12px;
}
#inviteContainer form div {
    text-align:center;
    padding: 15px 0 0 0;
}

#logoutContainer{
    width:320px;
    height:50px;
    position:absolute;
    top:50%;
    left:50%;
    margin: -25px 0 0 -160px;
    background: none repeat scroll 0 0 #494949;
    color: #B2B2B2;
    padding:10px 0 5px 0;
    text-align: center;
    border: 1px solid #B2B2B2;
    font-size: 16px;
    -webkit-box-shadow: 4px 4px 8px #222;
    -moz-box-shadow: 4px 4px 8px #222;
    -o-box-shadow: 4px 4px 8px #222;
    box-shadow: 4px 4px 8px #222;
    display:none;
    z-index:101;
}

.logout-button{
    display: block; 
    margin-top: 5px;
}

#invite-dialog div.buttonline{
    text-align: center;
}

.inviteUser  {
    float: right;
}

a.inviteUser, a.inviteUser:hover, a.inviteUser:visited {
    color: #ffffff;
    text-decoration: none;
}

.ui-dialog-titlebar-close {
    float: right;
    background: #ffffff;
    overflow: hidden;
    font-weight: bold;
    padding: 2px 4px;
    border-color: #000000;;
    border-style: solid;
    border-width: 1px 1px 0;
}

.ui-dialog-titlebar-close span {
    background: #ffffff;
    overflow: hidden;
    font-weight: bold;
    padding: 2px 4px :
}

#startscreen div.lightbox {
    background: #FFFFFF;
    width: 600px;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -300px;
    overflow: hidden;
    z-index: 9999999;
    padding: 20px;
    /*transparency*/
    opacity: .95;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity =         95);
    /*box shadow*/
    -webkit-box-shadow: 0px 0px 30px #AAA;
    -moz-box-shadow: 0px 0px 30px #AAA;
    -o-box-shadow: 0px 0px 30px #AAA;
    box-shadow: 0px 0px 30px #AAA;
}

#startscreen div.bubble {
    z-index: 9999999;
    position: absolute;
    background: #000;
    color: #fff;
    /*transparency*/
    opacity: .75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity =         75);
    /*box shadow*/
    -webkit-box-shadow: 0px 0px 30px #AAA;
    -moz-box-shadow: 0px 0px 30px #AAA;
    -o-box-shadow: 0px 0px 30px #AAA;
    box-shadow: 0px 0px 30px #AAA;
    /*border-radius*/
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
}

#startscreen div.bubble img.bottom {
    bottom: -50px;
    position: absolute;
}

#startscreen div.bubble img.left {
    left: -50px;
    position: absolute;
}

#startscreen div.bubble img.top {
    top: -50px;
    position: absolute;
}

#startscreen div.bubble img.right {
    right: -50px;
    position: absolute;
}

#startscreen #createNote {
    bottom: 95px;
    right: 30px;
}

#startscreen #uploadFile {
    bottom: 95px;
    right: 70px;
}

#startscreen #inviteUser {
    left: 100px;
    top: 160px;
}

#startscreen #prev {
    position: absolute;
    left: 3px;
    top: 30px;
    display: none;
}

#startscreen div {
    display: none;
}

#startscreen div div {
    display: block;
}

#startscreen .showAgain {
    font-size: 10px;
    margin-top: 30px;
}

#startscreen #next {
    position: absolute;
    right: 3px;
    top: 30px;
}

#startscreen button.closeToolTip {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #fff;
    border: 0;
}

.registerError {
    color: red;
}

.draggable {
    position: absolute;
}



.loginContainer input#email, .loginContainer input#password {
    border: 1px solid #000000;
    height: 19px;
    width: 190px;
}
.blurBox {
    cursor:default!important;
}
.blurBox .attachmentMenu, .blurBox .noteMenu {
    display:none!important;
}
.blurBox .noteItems {
    box-shadow:0 0 10px #F8F7B6!important;
    background-color:rgba(248, 247, 187, 0.5)!important;
}
.blurText {
    text-shadow:0 0 5px rgba(50, 50, 50, 0.7);
    color:rgba(94, 94, 94, 0);
}
.blurTextarea {
    background:transparent!important;
}
.blurBox .creator {
    display:none!important;
}
.blurBox .attachmentItems p.image {
    background: none repeat scroll 0 0 rgba(85, 85, 85, 0.5);
    box-shadow: 0 0 10px #555555 !important;
    margin: 12px 0 12px 44px;
    width: 32px;
}
.blurBox .attachmentItems p.image img {
    visibility:hidden;
}
.blurBox .attachmentItems p.filename {
    text-shadow:0 0 5px rgba(50, 50, 50, 0.7);
    color:rgba(94, 94, 94, 0);
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir {
    display: block;
    border: 0;
    text-indent: -999em;
    overflow: hidden;
    background-color: transparent;
    background-repeat: no-repeat;
    text-align: left;
    direction: ltr;
}

.ir br {
    display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}

/* Contain floats: h5bp.com/q */
.clearfix:before,.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
    /* Style adjustments for viewports 480px and over go here */
}

@media only screen and (min-width: 768px) {
    /* Style adjustments for viewports 768px and over go here */
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    } /* Black prints faster: h5bp.com/s */
    a,a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,a[href ^="javascript:"]:after,a[href ^="#"]:after {
        content: "";
    } /* Don't show links for images, or javascript/internal links */
    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    } /* h5bp.com/t */
    tr,img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }
    h2,h3 {
        page-break-after: avoid;
    }
}