#imageUploadContainer{
    width:360px;
    height:120px;
}

#imageUploadContainer form{
    padding: 3px 0 0 0;
}

#imageUploadContainer form div{
    text-align: right;
    padding: 19px 0 0 0;
    font-size:15px;
}

#imageUploadContainer form span{
    width:60px;
    text-align: left;
    font-size:13px;
}

#imageUploadContainer form textarea {
    width:360px;
    margin-left: 15px;
    height: 55px;
    
}
#imageUploadContainer > form > input {
    margin: 0 0 0 6px;
    font-size:13px;
}

#imageUploadContainer h1 {
    color: #B2B2B2;
    font-size: 16px;
    height: 45px;
    margin: 0 ;
    padding-bottom: 8px;
    width: 100%;
    text-align: left;
}

#imageUploadContainer h1 span {
    float: right;
    font-size: 11px;
    width: 100%;
    font-size:11px;
}


.whiteboard .imageItems.content{
    float:left;
}

.imageMenu{
    float:left;
    width:13px;
    display:none;
    padding: 12px 0 0;
    font-size:0px; /* to avoid whitespace underneath each picture*/
}

.whiteboard .image.hoverable:hover .imageMenu {
    display:block;
}

#tooltips #uploadImage {
    bottom: 105px;
    left: 185px;
}