#imageUploadContainer,#uploadContainer{
    width:430px;
    height:140px;
    margin: 0px 0px 18px 0px;
}

#uploadContainer form {

}
#imageUploadContainer form{
    padding: 3px 0 0 0;
}

#imageUploadContainer form div,#uploadContainer form div{
    text-align: right;
    padding: 18px 0 0 0;
}
#uploadContainer form span {
    float:left;
    display:block;
    width:80px;
    text-align: left;
}

#imageUploadContainer form span{
    width:60px;
    text-align: left;
}

#imageUploadContainer form textarea,#uploadContainer form textarea {
    width:360px;
    margin-left: 15px;
    height: 55px;
}
#imageUploadContainer > form > input {
    margin: 0 0 0 6px;
}
#uploadContainer > form > input {
    margin: 0 0 0 14px;

}

#imageUploadContainer h1, #uploadContainer h1 {
    color: #B2B2B2;
    font-size: 19px;
    height: 45px;
    margin: 0 ;
    padding-bottom: 12px;
    width: 100%;
    text-align: left;
}

#imageUploadContainer h1{
     height: 48px;
     padding: 0px;
     margin:  0px;
}

.whiteboard .imageItems.content{
    float:left;
}

.imageMenu{
    float:left;
    width:13px;
    display:none;
    padding: 12px 0 0;
    font-size:0px; /* to avoid whitespace underneath each picture*/
}

.whiteboard .image.hoverable:hover .imageMenu {
    display:block;
}